.displayTodos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    max-height: 2rem;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    width: 100px;
    margin-bottom: 15px;
}

.btn:hover{
background-color: rgb(243, 7, 7);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}