.App {
    display: flex;
    justify-content: center;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    background-color: darkgray;
    border-radius: 10px;
}

.App h1 {
    display: inline;
    text-align: center;
    margin-bottom: 2rem;
}